/* */
body {
  font-family: Arial, sans;
  margin 0 padding 0;
}

 {
  background333;
  color: # px ul {
 none:0  10 li a  padding: px;
}

.project {
 -bottom: 20px;
}

footer {
  background-color #;
  color:fff;
 : px;
 -align: center;
}
